<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Webstore</title>
     <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/custom.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>

  <body>

    <% include ./partials/navbar %>






      <!-- Example row of columns -->
      <%- body -%>

       <!-- /container -->
      <% include ./partials/footer %>
      <% include ./partials/javascriptOnly %>
  </body>
</html>
